#abilities
  justify-content: space-evenly
.prime
  border: 3px solid #222288
.prime-text
  color: #222288

mat-card
  width: 15%
  .ability-info-icon
    position: absolute
    top: 4px
    right: 4px
  mat-card-content
    text-align: center


mat-expansion-panel
  width: 75%
  margin: 0 auto
  .saving-throw-content
    display: flex
    justify-content: space-evenly
    div
      width: 45%


@media screen and (max-width: 1600px)
  #abilities
    mat-card
      width: 20%
      margin-bottom: 24px

@media screen and (max-width: 1200px)
  mat-expansion-panel
    width: 100%
    margin-bottom: 24px

@media screen and (max-width: 1024px)
  #abilities
    mat-card
      width: 33%
      margin-bottom: 24px
