<h2 class="section-subtitle"> Abilities </h2>
<div id="abilities" class="container">
  <mat-card ngClass="{{character.primeAbility() === 'strength' ? 'prime' : ''}}">
    <h4>Strength</h4>
    <button (click)="changeAbility('strength',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.strength}}<span
      *ngIf="character.primeAbility() == 'strength'"> + {{character.getLevel()}}</span></strong>
    <button (click)="changeAbility('strength',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <p class="prime-text" *ngIf="character.primeAbility() == 'strength'">Prime</p>

  </mat-card>
  <mat-card ngClass="{{character.primeAbility() === 'intelligence' ? 'prime' : ''}}">
    <h4>Intelligence</h4>
    <button (click)="changeAbility('intelligence',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.intelligence}}<span
      *ngIf="character.primeAbility() == 'intelligence'"> + {{character.getLevel()}}</span></strong>
    <button (click)="changeAbility('intelligence',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <p class="prime-text" *ngIf="character.primeAbility() == 'intelligence'">Prime</p>
  </mat-card>
  <mat-card ngClass="{{character.primeAbility() === 'wisdom' ? 'prime' : ''}}">
    <h4>Wisdom</h4>
    <button (click)="changeAbility('wisdom',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.wisdom}}<span
      *ngIf="character.primeAbility() == 'wisdom'"> + {{character.getLevel()}}</span></strong>
    <button (click)="changeAbility('wisdom',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <p class="prime-text" *ngIf="character.primeAbility() == 'wisdom'">Prime</p>
  </mat-card>
  <mat-card>
    <h4>Dexterity</h4>
    <button (click)="changeAbility('dexterity',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.dexterity}}</strong>
    <button (click)="changeAbility('dexterity',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
  <mat-card>
    <h4>Constitution</h4>
    <button (click)="changeAbility('constitution',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.constitution}}</strong>
    <button (click)="changeAbility('constitution',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
  <mat-card>
    <h4>Charisma</h4>
    <button (click)="changeAbility('charisma',-1)" mat-icon-button color="warn">
      <mat-icon>remove</mat-icon>
    </button>
    <strong>{{character.abilities.charisma}}</strong>
    <button (click)="changeAbility('charisma',1)" mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</div>
<div class="container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>Saving Throws & Derived Attributes</mat-expansion-panel-header>
    <div class="saving-throw-content">
      <div>
        <mat-list>
          <mat-list-item>
            System Shock
            {{character.getSystemShock()}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Death Ray / Poison
            {{character.getSavingThrows().poison}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Wand / Paralysis / Polymorph
            {{character.getSavingThrows().paralysis}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Petrification / Turn to stone
            {{character.getSavingThrows().petrification}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Dragon Breath / Area of Effect
            {{character.getSavingThrows().dragon_breath}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Spell / Rod / Stave
            {{character.getSavingThrows().spell}}
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
      <div>
        <mat-list>
          <mat-list-item>Precision Thrown Weight: {{character.precisionThrownWeight()}}cn
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Precision Thrown Distance: {{character.precisionThrownDistance()}} feet
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Maximum Deadlift / Push / Pull: {{character.maximumLift()}}cn</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Continuous Travel: {{character.continuousTravel()}} hours</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Hold Breath: {{character.holdBreath()}} seconds</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Continuous Maximum Effort: {{character.continuousMaximumEffort()}} minutes
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Total Weight: {{character.weight * 10 + character.load()}}cn</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
  </mat-expansion-panel>
</div>


