<h2 class="section-subtitle">Experience</h2>
<div id="experience" class="container">
  <mat-card *ngFor="let experience of character.experience; let i  = index;">
    <mat-list>
      <h2>Experience Block {{i + 1}}</h2>
      <mat-list-item><span>Class: </span> {{experience.class}} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span>Bonus %: </span> {{experience.bonus_xp}} </mat-list-item>
      <mat-divider></mat-divider>
      <div *ngIf="experience.next_level_xp > 0">
      <mat-progress-bar mode="determinate" value="{{(experience.current_xp / experience.next_level_xp) * 100}}"></mat-progress-bar>
      {{experience.current_xp}} / {{experience.next_level_xp}}
      <br />
      {{(experience.current_xp /  experience.next_level_xp) * 100}}%
      </div>
    </mat-list>
  </mat-card>
</div>
