mat-list-item
  cursor: pointer

.mat-list-actions
  position: absolute
  right: 12px
  bottom: 4px
  text-align: right

.empty
  text-decoration: line-through

.equip-icon
  opacity: 0.6
  font-size: 18px
  cursor: pointer

button
  padding: 0
  margin: 0
