<div class="container">
  <h2 class="section-subtitle">Animal Assets</h2>
  <mat-card *ngFor="let mount of character.getMounts(); let i = index;">
    <mat-icon *ngIf="editing!=i" color='primary' (click)="startEditing(i)" class="edit">edit</mat-icon>
    <mat-icon *ngIf="editing==i" color='warn' (click)="removeMount(mount)" class="edit">delete</mat-icon>
    <mat-list *ngIf="editing!=i">
      <h2>{{mount.name}}</h2>
      <h5>{{mount.species}} <span *ngIf="mount.barding"> with barding</span></h5>
      <mat-list-item><span>Morale:&nbsp;</span> {{mount.morale}} </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>HP:&nbsp;</span>
        {{mount.current_hp}}/{{mount.total_hp}}
        &nbsp;
        <span>HD:&nbsp;</span>
        {{mount.hit_dice}}
        &nbsp;
        <span>AC:&nbsp;</span>
        {{mount.armor_class}}
        &nbsp;
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span>Max Carry:&nbsp;</span> {{mount.max_carry}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span>Max Pull:&nbsp;</span> {{mount.max_pull}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span>Base Movement:&nbsp;</span> {{mount.base_movement}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><span>Alignment:&nbsp;</span> {{mount.alignment}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-list *ngIf="editing==i">
      <h2>Edit {{mount.name}}</h2>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput [(ngModel)]="mount.name"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Morale:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.morale"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Current HP:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.current_hp"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Total HP:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.total_hp"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Hit Dice:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.hit_dice"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Armor Class:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.armor_class"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Max Carry:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.max_carry"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Max Pull:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.max_pull"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Base Movement:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.base_movement"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Alignment:</mat-label>
          <input matInput [(ngModel)]="mount.alignment"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.name"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Species:</mat-label>
          <input matInput [(ngModel)]="mount.species"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Intelligence:</mat-label>
          <input type="number" matInput [(ngModel)]="mount.intelligence"/>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
          <mat-checkbox [(ngModel)]="mount.barding">Barding</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary" (click)="stopEditing()">Done</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
<button class="add-mount-button" mat-mini-fab color="primary" (click)="createMount()">
  <mat-icon>add</mat-icon>
</button>
