<button mat-raised-button (click)="addHireling()">Add Hireling</button>
<mat-tab-group>
  <mat-tab *ngFor="let character of hirelings" label="{{character.class}}">
    <button mat-raised-button (click)="removeHireling(character)">Remove Hireling</button>
    <character-overview [character]="character"></character-overview>
    <character-attributes [character]="character"></character-attributes>
    <character-spell-book [character]="character"></character-spell-book>
    <character-experience [character]="character"></character-experience>
    <character-purse [character]="character"></character-purse>
    <character-inventory [character]="character"></character-inventory>
    <character-notes [character]="character"></character-notes>
  </mat-tab>
</mat-tab-group>
