.add-experience
  width: 100%
  text-align: center
  .add-experience-button
    margin: 12px auto
#blocks-section
  display: flex
  flex-direction: column
  width: 100%
  h3
    text-align: center
  > div
    width: 100%
    mat-form-field
      width: 100%
  .add-experience
    text-align: center
    button
      margin: 16px auto
  .description
    width: 50%

.block-edit
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  gap: 12px
  margin-bottom: 12px

.add-class
  text-align: center
  margin: 16px 0
