#blocks-section
  h3
    text-align: center
  div
    width: 100%
    mat-form-field
      width: 100%
  .add-experience
    text-align: center
    button
      margin: 16px auto
  .description
    width: 50%
