.show-character-card
  width: 85%
  margin: 8px auto
  #overview
    mat-card
      width: 85%
      h2
        text-align: center


  #overview-stats
    mat-card
      width: 85%
      text-align: center
      min-height: 50%
      h4
        text-align: center
      strong
        font-size: 28px
