<h2 class="section-subtitle">Inventory - {{character.load()}} / {{character.maximumLoad()}}</h2>
<div class="container" id="inventory" cdkDropListGroup>
  <mat-card>
    <mat-list>
      <h2>Weapons:</h2>
      <item-list [items]="character.weapons"></item-list>
    </mat-list>
  </mat-card>
  <mat-card>
    <mat-list>
      <h2>Armor:</h2>
      <item-list [items]="character.armor"></item-list>
    </mat-list>
  </mat-card>
  <mat-card>
    <mat-list>
      <h2>Slung Items:</h2>
      <div *ngFor="let si of character.slung_items">
        <mat-list-item>{{si.inventoryString()}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card>
  <mat-card *ngFor="let si of character.slung_items">
    <h2>{{si.inventoryString()}}</h2>
    <item-list [items]="si.contents"></item-list>
  </mat-card>
</div>
