#inventory
  mat-card
    width: 30%
    margin: 32px auto
mat-list-item
  position: relative
  cursor: pointer
.mat-list-actions
  position: absolute
  right: 12px
  bottom: 4px

.equip-icon
  opacity: 0.6
  font-size: 18px
  cursor: pointer

.overfull
  text-decoration: line-through

.add-item
  text-align: center
  button
    margin-top: 16px

@media screen and (max-width: 1200px)
  #inventory
    mat-card
      width: 100%
      margin-bottom: 24px
